<style>
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
</style>


h1{
    color: rgb(43, 38, 90) !important;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-decoration: overline;
    text-transform: lowercase;
  
}
h2{
    text-decoration: line-through;
}
h3{
    text-decoration: underline;
    text-shadow: 2px 2px 2px 5px rgba(0,0,0, 0.3);
}

p{
    text-indent: 50px;
    font-size: 22rem;
    text-align: center;
    text-transform: capitalize;
   /* writing-mode: sideways-lr;*/
}
div{
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
background-color: blue;
width:20%
heigh:20%
}



.underline{
    color: blue;
}
#obliqueText{
    font-style: oblique;
    font-weight: bold;
}
#italicText{
    font-style: italic;
    font-weight: 200;
}
#normalText{
    font-style: normal;
    font-weight: normal;
}